<template>
    <div id="calc">
        <div id="input">
            <p id="equ">{{ equation }}</p>
            <input
                type="text"
                v-model="entry"
                @keypress.prevent="onKeyPress"
                @keydown.enter="clicked('=')"
                @keydown.escape="clicked('C')"
                @keydown.backspace.prevent="clicked('DEL')" />
        </div>
        <!-- <c-input id="input" v-model="this.equation" /> -->

        <div id="button-grid">
            <c-button
                v-on:click="clicked(value)"
                v-for="value in values"
                :key="value"
                :value="value" />
        </div>
    </div>
</template>

<script>
import CButton from './CButton.vue'

export default {
    components: { CButton },
    data() {
        return {
            equation: '',
            entry: '0',
            ans: '',
            isAnswer: false,
            numParan: 0,
            numParanClose: 0,
            values: [
                'C',
                'ANS',
                'DEL',
                '+',
                '1',
                '2',
                '3',
                '-',
                '4',
                '5',
                '6',
                '*',
                '7',
                '8',
                '9',
                '/',
                ' ',
                '0',
                '.',
                '='
                // '(',
                // ')',
            ]
        }
    },
    methods: {
        clicked(value) {
            if (this.equation.includes('=')) this.equation = ''
            if (this.isAnswer) {
                this.isAnswer = false
                this.entry = '0'
            }
            switch (value) {
                case '=':
                    this.calculate()
                    break
                case '+':
                case '-':
                case '*':
                case '/':
                    this.parseEntry(value)
                    break
                case 'C':
                    this.clear()
                    break
                case 'DEL':
                    this.del()
                    break
                case 'ANS':
                    this.addSymbol(this.ans)
                    break
                default:
                    this.addSymbol(value)
            }
            console.log(this.equation)
        },
        onKeyPress(e) {
            if (this.values.includes(e.key)) this.clicked(e.key)
        },
        calculate() {
            this.equation += this.entry
            let ans = eval(this.equation)

            this.equation += '='
            this.entry = ans
            this.ans = ans
            this.isAnswer = true
            this.$store.dispatch('setEquation', this.equation + this.ans)
            this.$store.dispatch('setAns', this.ans)
        },
        parseEntry(symbol) {
            if (this.entry.length == 0) return
            this.equation += this.entry + symbol
            this.entry = '0'
        },
        addSymbol(symbol) {
            if (symbol == '(') this.numParan++
            if (symbol == ')') {
                if (this.numParan == this.numParanClose) return
                else this.numParanClose++
            }
            if (symbol == '.' && this.entry.includes('.')) return
            if (this.entry == '0' && symbol != '.') this.entry = symbol
            else this.entry += symbol
        },
        clear() {
            if (this.entry == '0') this.equation = ''
            else this.entry = '0'
        },
        del() {
            if (this.entry.length > 1)
                this.entry = this.entry.substring(0, this.entry.length - 1)
            else this.clear()
        }
    }
}
</script>

<style scoped>
#calc {
    min-width: 250px;
    max-width: 350px;
    margin: 0 auto 0 auto;
}

#equ {
    text-align: right;
    margin-bottom: 0;
    height: 20px;
    padding-top: 4px;
    padding-bottom: 0;
    font-size: 14px;
}

#input {
    height: 55px;
    width: 99%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background: gray;
    padding-right: 10px;
    color: rgb(214, 212, 212);
    cursor: default;
    caret-color: transparent;
    text-align: right;
    border: 0;
    border-radius: 7px;
}

input {
    margin: 0;
    color: white;
    border: 0;
    cursor: default;
    background: transparent;
    text-align: right;
    font-size: 24px;
}
input:focus {
    outline: none;
    /* border: 1px solid; */
}

#button-grid {
    display: grid;
    grid-template-areas:
        '00 01 02 03'
        '10 11 12 13'
        '20 21 22 23'
        '30 31 32 33';
}
</style>
