<template>
    <button v-bind:class="{ equals: value == '=', hidden: value == ' ' }">
        {{ value }}
    </button>
</template>

<script>
export default {
    props: {
        value: {
            required: true
        }
    }
}
</script>

<style scoped>
button {
    border-radius: 7px;
    border: 1px solid dimgray;
    padding: 10px;
    margin: 3px;
    user-select: none;
    box-shadow: 1px 1px 1px 1px grey;
    color: white;
    background: gray;
    cursor: pointer;
}
button:hover {
    background: dimgray;
    transform: scale(103%);
    transition: transform 0.4s;
    transition: background 0.4s;
    box-shadow: 1px 1px 1px 1px rgb(107, 107, 107);
}
button:active {
    background: slategray;
    transform: scale(1);
    transition: transform 0.01s;
    box-shadow: none;
}
.equals {
    background: orange;
}
.equals:hover {
    background: darkgoldenrod;
}
.hidden {
    visibility: hidden;
}
</style>
