<template>
    <label class="error" v-if="error">{{ error }}</label>
</template>

<script>
export default {
    props: {
        error: {
            type: String,
            required: true
        }
    }
}
</script>

<style></style>
