<template>
    <div id="component">
        <p id="equation">{{ equation }}</p>
        <p id="answer">{{ answer }}</p>
    </div>
</template>

<script>
export default {
    props: {
        equ: {
            required: true,
            type: String
        }
    },
    computed: {
        equation() {
            return this.$props.equ.split('=')[0] + '='
        },
        answer() {
            return this.$props.equ.split('=')[1]
        }
    }
}
</script>

<style scoped>
p {
    text-align: right;
    margin: 0;
}

#equation {
    font-size: 13px;
    color: rgb(185, 184, 184);
}

#answer {
    font-size: 22px;
}

div {
    border-right: 1px solid gray;
    padding-right: 10px;
    margin-right: 3px;
}
</style>
