<template>
    <div class="container">
        <label class="label" v-if="label">{{ label }}</label>
        <textarea
            v-bind="$attrs"
            :value="modelValue"
            :placeholder="label"
            class="field"
            @input="$emit('update:modelValue', $event.target.value)" />
        <br />
        <error-label :error="error"></error-label>
    </div>
</template>

<script>
import ErrorLabel from './ErrorLabel.vue'
export default {
    components: { ErrorLabel },
    props: {
        label: {
            type: String,
            default: ''
        },
        modelValue: {
            type: [String, Number],
            default: ''
        },
        error: {
            type: String,
            default: ''
        }
    }
}
</script>
