<template>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div id="nav">
        <router-link :to="{ name: 'Home' }">Home</router-link>
        |
        <router-link :to="{ name: 'ContactForm' }">Contact</router-link>
    </div>
    <p
        v-show="this.$store.state.flashMessage.msg"
        class="flash"
        :class="[this.$store.state.flashMessage.color]">
        {{ this.$store.state.flashMessage.msg }}
    </p>
    <router-view />
</template>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

body {
    margin: 0;
}

@keyframes gfade {
    to {
        background: transparent;
    }
}

.flash {
    color: #0076fc;
    animation-name: gfade;
    animation-duration: 5s;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}
</style>
